@import 'grid';

/* Colors*/
  $kolor-tekstu: #ffffff;
  $kolor-obwodu-kola: #f1f1f1;
  $kolor-przycisku: #fed136;
  $kolor-tytulu-sekcji: #222222;
  $kolor-tekstu-sekcji: #777777;
  $background-color-portfolio: #f7f7f7;
  $background-color-portfolio-figcaption: white;
  $background-color-team: #f9f9f9;
  $background-color-circle-team: #111111;
  $background-twitter-hover: #00aced;
  $background-facebook-hover: #3b5998;
  $background-pinterest-hover: #cb2028;
  $background-google-hover: #d95232;


  /* Czcionki*/
  $nice-button: "Montserrat", sans-serif;
  $tekst-sekcji: "Droid Serif", serif;
  $opis-ikony: "Roboto Slab";

  /* Tla - Backgrounds */
  $tlo-hero: url("https://cdn.pixabay.com/photo/2014/05/03/00/46/gadgets-336635__340.jpg");
  $smoke-screen: rgba(0, 0, 0, 0.5);

  @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

  /*Style for section Home */
  
  .home {
    background-image: $tlo-hero;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 800px;
    max-width: 1815px;
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $smoke-screen;
      z-index: 1;
    }
    img { 
      margin-top: 44px;
      margin-left: 0%;
    }
    .welcome {
      height: 32px;
      color: $kolor-tekstu;
      font-family: $tekst-sekcji;
      font-style: italic;
      font-weight: 200;
      letter-spacing: -1px;
      margin-top: 175px;
    }
    .nice {
      height: 55px;
      color: $kolor-tekstu;
      font-family: $nice-button;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0px;
      margin-top: -15px;
      padding-bottom: 50px;
    }
    @media (max-width: 992px) {
      .welcome {
        font-size: 1.7em;
      }
      .nice {
        font-size: 2em;
      }
    }
    @media (min-width: 993px) {
      .welcome {
        font-size: 2.7em;
      }
      .nice {
        font-size: 4.2em;
      }
    }
    
    .button {
      width: 240px;
      height: 68px;
      margin-top: 474px;
      background-color: $kolor-przycisku;
      color: $kolor-tekstu;
      font-family: $nice-button;
      text-decoration: none;
      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;
      padding: 20px 50px;
      border-radius: 5%;
    }
  }
  
  .home > * {
    position: relative;
    z-index: 2;
  }

  /*Style for section Header */

  header {height: 28px;}

.menu {
    height: 10px; 
    margin-left: 32%; 
    margin-top: -35px;
    ul {
      padding: 0;
      margin: 0;
      text-align: center;
      list-style-type: none; 
      li {
        display: inline-block;
        @media (max-width: 767px) {
          display: block;
          text-align: right;
          margin-right: 3%;
        }
        a {
          color: $kolor-tekstu;
          font-family: $nice-button;
          font-size: 0.845em;
          font-weight: 400;
          line-height: 0.845em; 
          text-transform: uppercase;
          text-decoration: none;
          padding: 0 18px;
          text-align: center;
        }
      }
    }
}
  
/*Style for section Services */

h1 {  /* Wspólne style dla tytułów sekcji i tytułu Service*/

    margin: 150px auto 0 auto;
    color: $kolor-tytulu-sekcji;
    font-family: $nice-button;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
}

h6 {  /* Wspólne style dla podtytułów sekcji i podtytułu Service*/
    margin: -10px auto 70px auto;
    color: $kolor-tekstu-sekcji;
    font-family: $tekst-sekcji;
    font-size: 16px;
    height: 17px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}

.row {
    width: 73%;
    margin: 0 auto;
}

@media (max-width: 1199px) {
  .box {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .description-Icon {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .box {
    width: 300px;
  }
  .description-Icon {
    width: 274px;
  }
}

.icon-box { /* kólko */
  width: 68px;
  height: 67px;
  border: 3px solid $kolor-przycisku;
  @include border-radius(50%);
  background-color: $kolor-tekstu;
  margin: 10px auto;
}

.icon-box i { /* ikona */
  font-size: 38px;
  color: $kolor-przycisku; 
  text-align: center;
  margin: 9px;
}

.title-Icon {
    height: 14px;
    color: $kolor-tytulu-sekcji;
    font-family: $nice-button;
    font-size: 18px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: -0.45px;
    text-align: center;
    margin-top: -12px;
}

.description-Icon {
    height: auto;
    color: $kolor-tekstu-sekcji;
    font-family: $opis-ikony;
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
    letter-spacing: -0.35px;
    text-align: center;
    margin: 45px auto;
}
/*Style for section Portfolio */

.portfolio {
  width: 1557px; 
  max-width: 100%;
  height: 1218px;
  margin: 100px a;
  background-color: $background-color-portfolio;
  h1 {
    margin: 120px auto 20px auto;
    padding-top: 40px;
    font-size: 21px;
  }
  h6 {
    font-size: 10px;
    margin: 0 auto 30px auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    width: 60vw;
    max-width: 941px;
    margin: 50px auto -30px auto;
    padding: 0px;
    text-align: center;
    .portfolio-image {
      width: 18.62vw;
      text-align: center;
      margin: -5px 0;
      .figcaption {
        background-color: $background-color-portfolio-figcaption;
        width: 18.62vw;
        height: 5.5vw;
        border: solid 1px pink;
        line-height: 40px;
        font-weight: 700;
        text-align: center;
        font-size: 12px;
        font-family: $nice-button;
        .second-line {
          font-size: 8px;
          font-family: $tekst-sekcji;
          font-style: italic;
          font-weight: 50;
          margin-top: -27px;
        }
      }    
      img {
        width: 18.62vw;
        height: 19vw;
      }
    }
  }
}

/*Style for section About Us */

.left { 
  text-align: left;
}
.right {
  text-align: right;
}

.center {
  text-align: center;
}

.aboutUs {
    width: 100%;
    max-width: 874px;
    height: auto;
    margin: -150px auto 100px auto;
    .row {
      margin-bottom: 17px;
    }
    h1 {
      font-size: 16px;
    }
    h6 {
      font-size: 10px;
      margin: -25px auto 25px auto;
    }
    .text {
      h2 {
        font-family: $nice-button;
        font-size: 10px;
        font-weight: 700;
        margin: 5px auto -3px auto;
        span {
          display: block;
        }
        .second-line {
          font-size: 9px;
        }
      }
      p {
        font-family: $opis-ikony;
        font-weight: 400;
        font-size: 10px;
      }
    }

  .circle-about {
    width: 85px;
    height: 85px;
    border: 1px solid $kolor-obwodu-kola;
    background-color: $kolor-przycisku;
    text-align: center;
    border-radius: 50%;
    margin: 10px;
    margin-left: -1%;
    padding: 0 5px 0 -10px;
    color: $kolor-tekstu;
    font-size: 10px;
    font-weight: 900;
    line-height: 12px; 
  }
 
  @media (max-width: 575px) {
    .text {
      width: 60%
    }
    .round-image {
      width: 40%;
    }
  }

}
/*Style for section Our Amazing Team */

.ourAmazingTeam {
  width: 83%;
  max-width: 1401px;
  height: auto;
  margin: -10px auto;
  padding: 10px 0;
  background-color: $background-color-team;
  border: solid 1px blue;
  h1 {
    font-size: 31px;
    margin: 55px auto;
  }  
  h6 {
    font-size: 15px;
    margin: -65px auto 65px auto;
  } 
  .row {
    width: 60%;
    margin: 0 auto;
    border: solid 1px blue;
    .col-xl-4, .col-lg-12, .col-md-8, .col-sm-8, .col-xs-8 {
      border: solid 1px gray;
    }
    .circle-team {
      width: 190px;
      height: 190px;
      margin: 0 auto;
      border: solid 3px $kolor-tekstu;
      border-radius: 50%;
      background-color: $background-color-circle-team; 
    }
    h1 {
      font-size: 12px;
      line-height: 30px;
      margin: 0px auto;
    }
    h6 {
      font-size: 14px;
      font-weight: 400;
      margin: -5px auto 10px auto;
    }
    a {
      width: 20px;
      height: 16px;
      color: $kolor-tytulu-sekcji;
    }
    .twitter, .facebook, .pinterest, .google {
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin-top: -3px;
      margin-left: -8px;
      padding: 0 10px;
      background-image: linear-gradient(to bottom right,$background-color-team,$background-color-team,$background-color-team,$kolor-tytulu-sekcji,$kolor-tytulu-sekcji,$background-color-circle-team);
      border-radius: 50%;
      &:hover {
        color: $kolor-tekstu;
        background-image: none;
      }
    }
    .twitter i, .google i {
      margin-left: -2px;
    }
    .twitter:hover {
      background-color: $background-twitter-hover;
    }
    .facebook:hover {
      background-color:$background-facebook-hover;
    }
    .pinterest:hover {
      background-color: $background-pinterest-hover;
    }
    .google:hover {
      background-color: $background-google-hover;
    }
    .col-5 .facebook {
      margin-left: 10px;
    }
    .col-5 .pinterest {
      margin-left: -1px;
    }
  } 
  p {
    width: 77%;
    margin: 40px auto;
    color: $kolor-tekstu-sekcji;
    font-family: $opis-ikony;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -0.4px;
  }
}

/*Style for section Logos */

@media (max-width: 767px) {
  .logos {
    width: 100%;
    margin-top: 25px;
    text-align: center;
  }
    
    .logo1 {
      width: 35%;
      margin: -15px 0;
      opacity: 0.6;
    }
    .logo2 {
      width: 65%;
      margin: 3px auto;
      opacity: 0.5;
    }
    .logo3{
      width: 45%;
      margin: 10px auto;
      opacity: 0.5;
    }
    .logo4 {
      width: 55%;
      margin: 10px 0 10px auto;
      opacity: 0.6;
    }
}

@media (min-width: 768px) {
  .logos {
    width: 765px;
    height: 43px;
    margin: 330px auto 355px auto; 
    img {
      height: auto;
    }
    .logo1 {
      width: 165px;
      margin: -59px 10px 50px -120px;
      opacity: 0.6;
    }
    .logo2 {
      width: 186px;
      margin: -5px 5px 40px -70px;
      opacity: 0.3;
    }
    .logo3{
      width: 131px;
      margin: 5px 0;
      opacity: 0.3;
    }
    .logo4 {
      width: 167px;
      margin: 5px 35px;
      opacity: 0.4;
    }
  }
}

/*Style for section Contact */

.contactUs {
  width: 1402px;
  max-width: 100%;
  margin: 10px auto;
  height: auto;
  text-align: center;
  background-image: url("https://cdn.pixabay.com/photo/2013/06/20/13/52/world-140304_960_720.jpg");
  opacity: 0.9;
  .tint {
    width: 1402px;
    max-width: 100%;
    height: auto;
    margin-top: -30px;
    background-color: $background-color-circle-team;
    opacity: 0.9;
  }
  h1 {
    padding-top: 90px;
    color:$kolor-tekstu;
    background-image: none;
    background-color: transparent;
    font-size: 40px;
    z-index: 1; 
    opacity: 1;
  } 
  h6 {
    margin-top: -6px;
    font-size: 19px;
  }
  .row {
    width: 940px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 28px;
    input {
      height: 50px;
      margin-top: 10px;
      margin-bottom: -10px;
    }
    input, textarea {
      width: 455px;
      max-width: 100%;
      border: 1px solid #cccccc;
      background-color:white;
      border-radius: 3%; 
    }
    textarea {
      height: 210px;
    }
    input:first-child, textarea:first-child {
      padding-left: 20px;
      color: #bbbbbb;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: -0.35px;
      line-height: 50px;
      text-align: left;
      text-transform: uppercase;
    }
  }
  button {
    width: 240px;
    height: 66px;
    max-width: 90%;
    margin: 0 auto 120px auto;
    background-color: #fed136;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3%;
    border: solid 1px #fed136;
    opacity: 1;
  }
}
@media (max-width: 767px) {
  textarea {
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  textarea {
    margin-top: -150px;
  }
}

/*Style for section  Bottom Footer*/
.bottomFooter {
  max-width: 565px;
  width: 100%;
  height: 40px;
  margin: 15px auto;
  text-align: center;
  .row {
    width: 100%;
  }
  .row .col-7 {    /* Stylowanie napisu */
    height: 14px;
    color: #555555;
    font-family: $nice-button;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 22px;
    letter-spacing: -0.35px;
    text-align: left;
    margin-left: -15px;
  }
  .row .col-5 {    /* Stylowanie ikon*/
    text-align: right;
    display: inline;
  }

  .twitter, .facebook, .pinterest, .google {
    width: 40px;
    height: 40px;
    background-color: $kolor-tytulu-sekcji;
    color: #ffffff;
    border-radius: 50%;
    margin: 5px 0 5px 10px;
    padding: 10px;
  }
  .facebook {
    padding: 10px 13px;
  }
  .twitter i {
    width: 19px;
    height: 16px;
    font-size: 20px;
  }
  .twitter:hover {
    background-color: #00aced;
  }
  .facebook i {
    width: 11px;
    height: 19px;
  }
  .facebook:hover {
    background-color: #3b5998;
  }
  .pinterest i {
    width: 17px;
    height: 21px;
  }
  .pinterest:hover {
    background-color: #cb2028;
  }
  .google i {
    width: 17px;
    height: 17px;
    color: #ffffff;
  }
  .google:hover {
    background-color: #da2713;
  }
}

@media (max-width: 575px) {
   .col-xs-12 {
      margin-top: 20px;
  }
}
